body{
    color:#fffbf4);
    /*ponerle color al fondo*/
    background-color:rgba(187, 136, 235, 0.925);
font-family: 'Life Savers', cursive;
}
h1{color:#7d6a9b
font: size 80px;}
h2{color:#f8c9ed}
h3{color:#f8efed} 
img{width: 400px;
height: 250px;
padding:20px}

footer{background-color:#ffd4f4;}